# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store
*.sqlite3
*.db
uploads/

# IDEs
.idea/
.vscode/
